form {
    background-image: url(/img/ancienne-feuille-papier-parchemin-vintage-vieillie-texture-isolee-fond-blanc_34266-1670.jpg);
    min-height: 500px;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.form-parchemin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px;
}

.form-input {
    display: flex;
    flex-direction: column;
    margin-block: 1rem;
}

.form-input>label {
    font-family: var(--font-family-body);
    font-size: 2rem;
}

legend {
    font-family: var(--font-family-body);
    font-size: 2.5rem;
    padding-bottom: 2rem;
}

.form-input>input {
    height: 1.5rem;
    border-radius: 4px;
    font-size: 1.5rem;
}

.form-input>.form-btn {
    height: 3rem;
    background-color: brown;
    font-family: var(--font-family-body);
    font-size: 2rem;
    color: var(--text-color2);
}

@media screen and (min-width: 760px) {
    .form-parchemin {
        padding: 25%;
        justify-content: flex-start;
    }

    .form-input>label {
        font-size: 3rem;
    }

    legend {
        font-size: 4rem;
    }

    .form-input>input {
        height: 2rem;
    }

    .form-input>.form-btn {
        font-size: 3rem;
    }
}

.signature_jack {
    background-image: url(/img/c2635b48197b847d0d05a39561d74aea.png);
    background-position: bottom;
}