form {
    background-image: url(/img/ancienne-feuille-papier-parchemin-vintage-vieillie-texture-isolee-fond-blanc_34266-1670.jpg);
    min-height: 500px;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

/* .signature_jack {
    background-image: url(/img/c2635b48197b847d0d05a39561d74aea.png);
    background-position: bottom;
} */