@import url(./root.css);

.head-fullscreen{
    height: 100vh;
    width: 100vw;
}
.background-image{
    width: 100%;
    height: 100%;
    
    background-image: url(../media/blackPearl_theme.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-menu{
    position: absolute;
    top : 0;
    left: 0;
    
    width: 100%;
    height: calc(30vh + 10vw);

    background-image: url(../media/cloud-1.png);
    background-size: cover;
    background-position: bottom center;
}
nav{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-block-start: calc(2vh + 2vw);
    padding: calc(var(--spacing-more)*2);

    position: absolute;
    top: 0;
    left: 0;
}

h1{
    font-family: var(--font-family-h1);
    font-size: 8vw;
    color: var(--text-color2);
}

.menu-burger{
    height: 50px;
    width: 50px;

    border-radius: 50%;
}

.display-menu{
    display: none;
}

.lines-container{
    width: 100%;
    height: 100%;

    border-radius: 50%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.burger-lines{
    height: 5px;
    width: 30px;

    border-radius: 2.5px;
    background-color: var(--text-color2);
}
.line-top{
    transform: translate(0, -5px);
}
.line-bot{
    transform: translate(0, 5px);
}
.subtitle-header{
    position: absolute;
    bottom: calc(2vh + 70px);
    left: 50%;
    transform: translate(-50%, 0);
    
    color: var(--text-color2);
    text-align: center;
}
.scroll-down-indicator{
    --scaling: 0.8;
    position: absolute;
    bottom: calc(2vh + 10px);
    left: 50%;
    transform: translate(-50%, 0);

    width: 50px;

    animation: scroll-down-translate 1s infinite ease;
}

.half-cross-lines {
    position: absolute;
    top: 0;
    left: 0;
    

    height: 5px;
    width: 50px;

    border-radius: 5px;
    background-color: var(--text-color2);
    animation: 1s infinite ease scroll-down-color;
}
.line1{
    transform: rotate(45deg) translate(-25px);
}
.line2{
    transform-origin: bottom;
    transform: rotate(-45deg) translate(25px);
}


@keyframes scroll-down-color{
    from{
        background-color: var(--text-color2);
    }
    to{
        background-color: white;
    }
}
@keyframes scroll-down-translate{
    from{
        transform: translate(-50%, -10px) scale(var(--scaling));
    }
    to{
        transform: translate(-50%) scale(var(--scaling));
    }
}

@media screen and (max-width:700px){
    .scroll-down-indicator{
        --scaling : 0.5;
    }
    .bg-menu{
        height: calc(25vh + 10vw);
    }
    h1{
        font-size: 2.5rem;
    }
    nav{
        padding-inline: var(--spacing-more);
    }
}
@media screen and (min-width:1000px) {
    .bg-menu{
        height: calc(35vh + 10vw);
    }
    .menu-burger{
        width: 75px;
        height: 75px;
    }
    .burger-lines{
        height: 5px;
        width: 50px;
    }
    h1{
        font-size: 5rem;
    }
}
@media screen and (max-width:400px) {
    h1{
        top: 60px;
        font-size: 2rem;
    }
    nav{
        padding-inline: var(--spacing);
    }
}