.section3{
    width: 100vw;
}
.experience-pro-container{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 3fr;
    width: 100%;
    padding: var(--spacing);
}
.date{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--text-color2);
    padding: var(--spacing);
}
.experience{
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--text-color2);
    padding: var(--spacing);
}
.date p{
    font-family: var(--font-family-h2);
    font-size: 2rem;
    text-align: center;
}
.experience {
    padding-inline-start: var(--spacing-more);
    font-family: var(--font-family-body);
}
.experience p{
    font-size: 1rem;
}

.quotes-container{
    display: flex;
    justify-content: space-around;
}

.img-quotes-container{
    display: flex;
    align-items: center;
}

.exp-quotes p {
    font-size: 1rem;
    font-style: italic;
    
}

.quotes-pic{
    margin-inline-end: var(--spacing);
    width:auto;
    height: 3rem;
}