@import url(./root.css);
@import url(/style/style.css);

.section3 {
    width: 100vw;

    background: url(../media/1200px-The_Pirate_Bay_logo_bw.png) var(--bg-color-section1);
    background-repeat: no-repeat;
    background-size: cover;

    padding: var(--spacing-more);
}

.section3 > h2{
    margin: auto;
    text-align: center;
    
    font-size: 32px;
    font-family: var(--font-family-h1);
}

.experience-pro-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 3fr;
    width: 100%;
    padding: var(--spacing);
    margin-block-end: var(--spacing);
}

.date {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--text-color2);
    padding: var(--spacing);
}

.experience{
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--text-color2);
    padding: var(--spacing);
}

.date p{
    font-family: var(--font-family-h2);
    font-size: 2rem;
    text-align: center;
}

.experience {
    padding-inline-start: var(--spacing-more);
    font-family: var(--font-family-body);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.experience p{
    font-size: 1rem;
}
.experience p span{
    font-family: var(--font-family-h1);
    font-size: 1.2rem;
}
.experience hr {
    width: 50px;
    height: 1px;
    margin-block-start: 5px;
    margin-block-end: 12px;
}
.quotes-container{
    display: flex;
    justify-content: space-around;
}

.img-quotes-container{
    display: flex;
    align-items: center;
}

.quotes-container:not(:nth-child(2)){
    margin-block-start: 2rem;
}
.exp-quotes {
    padding: var(--spacing);
    padding-block-end: var(--spacing-more);
}
.exp-quotes p {
    font-size: 1rem;
    font-style: italic;
}

.exp-quotes h2{
    margin-block-start: var(--spacing);
    margin-block-end: var(--spacing-less);
}

.quotes-pic{
    margin-inline-end: var(--spacing);
    width:auto;
    height: 5rem;
    border-radius: 50%;
    aspect-ratio: 1;
}

.commas{
    height: auto;
    width: 1.1rem;
    margin-inline-end: var(--spacing);
}

@media screen and (min-width: 640px){

    .experience-pro-container{
        max-width: 900px;
        margin-inline: auto;
    }

    .exp-quotes{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2rem 1fr 1fr;
        gap: var(--spacing-more);
        max-width: 900px;
        margin: auto;
    }

    .exp-quotes h2{
        grid-column: 1/3;
        grid-row: 1/2;
        font-size: 2.5rem;
    }

    .quotes-container{
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    #quotes-container1{
        grid-column: 1/2;
        grid-row: 2/3;
    }

    #quotes-container2{
        grid-column: 2/3;
        grid-row: 2/3;
    }

    #quotes-container3{
        grid-column: 1/2;
        grid-row: 3/4;
    }

    #quotes-container4{
        grid-column: 2/3;
        grid-row: 3/4;
    }

    .quotes-container:not(:nth-child(2)){
        margin-block-start: 0;
    }

    .exp-quotes p{
        font-size: 1.2rem;
    }
}
    