@import url(./root.css);
@import url(/style/style.css);

.profil-jack img {
    width: 300px;
    height: 300px;
}

#signature {
    width: 300px;
    height: 200px;
    padding-top: 2rem;
    margin-block-start: 2rem;
}

.profil-jack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-icon-profil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: var(--spacing-more);
}

.permis {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-less);
}

.permis p {
    font-family: var(--font-family-h2);
}

.img-icon-profil #ancre-bateau {
    height: 30px;
    width: 30px;

}


.content-profil {
    display: flex;
    flex-direction: column;
}

.content-profil h2 {
    padding-block-end: var(--spacing-more);
}

.info-profil {
    padding-block-start: 2em;
}

@media screen and (min-width: 760px) {
    .profil-jack {
        flex-direction: row;
    }

    .content-profil {
        max-width: 65ch;
        padding-left: 2rem;
    }

    #signature {
        max-width: 30%;
        width: 30%;
        height: 50%;
        padding-top: 0;
        padding-bottom: 2rem;
    }

    .section1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}