@import url(./root.css);
@import url(/style/style.css);

.profil-jack img {
    width: 300px;
    height: 300px;
}

#signature {
    width: 100%;
    height: 100%;
    padding-top: 2rem;
}

.profil-jack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-profil {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 760px) {
    .profil-jack {
        flex-direction: row;
    }

    .content-profil {
        max-width: 65ch;
        padding-left: 2rem;
    }

    #signature {
        max-width: 30%;
        width: 30%;
        height: 50%;
        padding-top: 0;
        padding-bottom: 2rem;
    }

    .section1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}