:root {
    --text-color: rgb(22, 22, 22);
    --text-color2: #EFE7D2;
    --bg-color-section1: #5B6D5B;
    --bg-color-section2: #DBD8B9;
    --bg-color-section3: #FED788;

    --font-family-h1: 'blackpearl', Arial, Helvetica, sans-serif;
    --font-family-body: 'treasureMaps', Arial, Helvetica, sans-serif;
    --font-family-h2: 'blackpearl', Arial, Helvetica, sans-serif;

    --spacing: 16px;
    --spacing-more: calc(var(--spacing)*2);
    --spacing-less: calc(var(--spacing)/2);
}

@font-face {
    font-family: 'treasureMaps';
    src: url(/fonts/TreasureMapDeadhand-yLA3.ttf);
}

@font-face {
    font-family: 'blackpearl';
    src: url(/fonts/Blackpearl-vPxA.ttf);
}