* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--spacing);
    font-weight: 400;
    line-height: 1.5;
    color: var(--text-color);
    height: 100vh;
}

h2 {
    font-family: var(--font-family-body);
    font-size: var(--spacing-more);
}

section {
    color: var(--text-color2);
    padding: var(--spacing);
}

.section1,
.section3 {
    background-color: var(--bg-color-section1);
}

.section2,
.section4 {
    background-color: var(--bg-color-section2);
    color: var(--text-color);
}

.lastImg {
    background-image: url(/img/Jack-sparrow-facebook-cover-for-facebook-timeline-HERCOVERS-COM-pirates-of-the-caribbean-28634685-851-314.png);
    min-height: 500px;
}

.ba_pirates {
    background-image: url(/img/pirates-of-the-caribbean-dead-men-tell-no-tales-jack-sparrow-facebook-cover.jpg);
    min-height: 300px;
}

.ba_pirates {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.lastImg {
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

form {
    background-image: url();
}