@import url(./root.css);
@import url(/style/style.css);

form {
    background-image: url(../img/parcheminTeinteXL\ 1.png);
    min-height: 800px;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -80px;
    z-index: 3;
    position: relative;
}

.form-input img {
    width: 150px;
    height: 120px;
}

.form-parchemin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px;
}

.form-input {
    display: flex;
    flex-direction: column;
    margin-block: 1rem;
}

.form-input>label {
    font-family: var(--font-family-h2);
    font-size: 2rem;
}

legend {
    font-family: var(--font-family-h1);
    font-size: 2.5rem;
    padding-bottom: 2rem;
}

.form-input>input {
    border-radius: 4px;
    font-size: 1.5rem;
    padding: var(--spacing-less);
    background: transparent;
    font-family: var(--font-family-h2);
}

.form-input>textarea {
    border-radius: 4px;
    font-size: 1.5rem;
    padding: var(--spacing-less);
    background: transparent;
    line-height: 1.5;
    font-family: var(--font-family-h2);
}

.form-input .form-btn {
    background-color: transparent;
    font-family: var(--font-family-h2);
    font-size: 2rem;
    color: var(--text-color2);
    padding: var(--spacing-less);
    border-radius: 4px;
    border: none;
}

.form-btn-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-btn-flex img:hover {
    filter: brightness(120%);
    scale: 102%;
}

.form-btn-flex label {
    font-family: var(--font-family-h2);
    font-size: 2rem;
}


@media screen and (min-width: 760px) {
    .form-parchemin {
        padding-inline: 20%;
        padding-block: 10%;
        justify-content: flex-start;
    }

    .form-input>label {
        font-size: 3rem;
    }

    .form-btn-flex label {
        font-size: 3rem;
    }

    legend {
        font-size: 4rem;
    }

    .form-input img {
        width: 300px;
        height: 240px;
    }    

    .form-input>input {
        height: 2rem;

    }

    .form-input>.form-btn {
        font-size: 3rem;
        height: 4rem;
    }

}

/* @media screen and (min-width: 400px) {
    .form-input img {
        position: relative;
        left: 60%;
    }
} */