@import url(./root.css);

#scale-ack {
    font-size: 4vw;
}

.head-fullscreen {
    height: 100vh;
    width: 100vw;
}

.background-image {
    width: 100%;
    height: 100%;

    background-image: url(../media/blackPearl_theme.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-menu {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: calc(30vh + 10vw);

    background-image: url(../media/cloud-1.png);
    background-size: cover;
    background-position: bottom center;
}

.title {
    position: absolute;
    top: 50px;
    left: 50px;

    height: 50px;

    display: flex;
    align-items: center;

}

header h1 {
    font-family: var(--font-family-h1);
    font-size: 5vw;
    color: var(--text-color2);
}

/*==========================MENU BURGER=========================*/
.menu-burger {
    position: fixed;
    top: 50px;
    right: 50px;
    height: 50px;
    width: 50px;

    border-radius: 50%;
    background-color: var(--text-color);

    z-index: 2;
}

.burger-lines {
    height: 5px;
    width: 30px;

    border-radius: 2.5px;
    background-color: var(--text-color2);

    transform-origin: center;
}

.line-top {
    transform: translate(0, -5px);
}

.line-bot {
    transform: translate(0, 5px);
}

.menu-burger-open {
    position: fixed;
    top: 50px;
    right: 50px;
    height: 50px;
    width: 50px;

    border-radius: 50%;
    background-color: var(--text-color);
}

.burger-lines-open {
    height: 5px;
    width: 30px;

    border-radius: 2.5px;
    background-color: var(--text-color2);

    transform-origin: center;
}

.line-top-open {
    transform: translate(0, 5px) rotate(45deg);
}

.line-bot-open {
    transform: translate(0, -5px) rotate(-45deg);
}

.line-middle-open {
    opacity: 0;
}

.menu-burger-open:hover {
    transform: scale(1.05) rotate(180deg);
    transition: transform 0.3s;
}

.lines-container {
    width: 100%;
    height: 100%;

    border-radius: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.menu-burger:hover .line-top {
    animation: top-line-anim-hover 1s forwards;
}

.menu-burger:hover .line-middle {
    animation: mid-line-anim-hover 1s forwards;
}

.menu-burger:hover .line-bot {
    animation: bot-line-anim-hover 1s forwards;
}

/*==========================MENU OPEN=========================*/
.display-menu {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--text-color);

    transform: translateX(100%);
    transition: transform 500ms ease-in;
    z-index: 2;

    font-size: 2rem;
    font-family: var(--font-family-h2);
}

.display-menu a {
    padding: var(--spacing-more);

    text-decoration: none;
    color: var(--text-color2);
}

.display-menu-title {
    font-size: 3rem;
    color: var(--text-color2);
    padding: var(--spacing-more);

    font-family: var(--font-family-h1);
}

.display-menu-cross {
    width: 50px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 50px;
    right: 50px;

    border-radius: 50%;
    transform-origin: center;
    transition: transform 300ms ease-in-out;
}

.display-menu-cross:hover {
    transform-origin: left;
    transform: scale(1.5) rotate(180deg);

    transition: transform 300ms ease-in-out;
    transition: background 400ms ease-in;
}

.display-menu-links {
    padding-inline: var(--spacing);
    transition: transform 300ms ease-in;
}

.display-menu-links:hover {
    transform: translateX(10px) scale(1.05);
    transition: transform 300ms ease-in;
}

/*==========================MENU OPEN END=========================*/

.subtitle-header {
    position: absolute;
    bottom: calc(2vh + 70px);
    left: 50%;
    transform: translate(-50%, 0);

    color: var(--text-color2);
    text-align: center;
    font-family: var(--font-family-h2);

    font-size: 3rem;
}

.scroll-down-indicator {
    --scaling: 0.8;
    position: absolute;
    bottom: calc(2vh + 10px);
    left: 50%;
    transform: translate(-50%, 0);

    width: 50px;

    animation: scroll-down-translate 1s infinite ease;
}

.scroll-half-cross-lines {
    position: absolute;
    top: 0;
    left: 0;


    height: 5px;
    width: 50px;

    border-radius: 5px;
    background-color: var(--text-color2);
    animation: 1s infinite ease scroll-down-color;
}

.half-cross-line1 {
    transform: rotate(45deg) translate(-25px);
}

.half-cross-line2 {
    transform-origin: bottom;
    transform: rotate(-45deg) translate(25px);
}

/*======================MEDIA===================*/

@media screen and (max-width:1000px) {
    .scroll-down-indicator {
        --scaling: 0.5;
    }

    .bg-menu {
        height: calc(25vh + 10vw);
    }

    .title {
        top: 30px;
        left: 30px;
    }
    .menu-burger {
        top: 30px;
        right: 20px;
    }

}

@media screen and (min-width:1000px) {
    .bg-menu {
        height: calc(35vh + 10vw);
    }

    .menu-burger {
        width: 75px;
        height: 75px;
    }

    .menu-burger-open {
        width: 75px;
        height: 75px;
    }

    .burger-lines {
        height: 5px;
        width: 50px;
    }

    header h1 {
        font-size: 5rem;
        transform: translate(0, 10px);
    }
}

@media screen and (max-width:430px) {
    header h1 {
        font-size: 2rem;
    }
    #scale-ack {
        font-size: 1.3rem;
    }

    nav {
        padding-inline: var(--spacing);
    }

    .title {
        left: 10px;
        top: 20px;
    }

    .menu-burger {
        top: 20px;
        right: 10px;
    }
}

@media screen and (max-width:300px) {
    header h1 {
        font-size: 1.4rem;
    }
    #scale-ack {
        font-size: 1rem;
    }
}

/*===========================ANIMATION==================*/

@keyframes top-line-anim-hover {
    from {
        transform: translate(0, -5px);
    }

    to {
        transform: translate(0, -7px);
    }
}

@keyframes bot-line-anim-hover {
    from {
        transform: translate(0, 5px);
    }

    to {
        transform: translate(0, 7px);
    }
}

@keyframes mid-line-anim-hover {
    from {
        transform: scaleX(1);
    }

    to {
        transform: scaleX(1.2);
    }
}

@keyframes scroll-down-color {
    from {
        background-color: var(--text-color2);
    }

    to {
        background-color: white;
    }
}

@keyframes scroll-down-translate {
    from {
        transform: translate(-50%, -10px) scale(var(--scaling));
    }

    to {
        transform: translate(-50%) scale(var(--scaling));
    }
}
