@import url(./root.css);
@import url(/style/style.css);

.section4  {
    background-image: url(../img/fond-vert-fonce.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
}

.loisirs {    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 85%;
    margin-block-end: var(--spacing-more);
}

.loisirs-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.plank-container{
    display:flex;
    justify-content: center;
}

.plank-container:nth-child(2){
    transform: rotate(90deg);
}

.section4 h2 {
    font-family: var(--font-family-h2);
    margin-inline-start: var(--spacing);
    padding-inline-start: 30px;
    font-size: 2.5rem;
}


.section4 p {
    font-family: var(--font-family-body);
    padding: var(--spacing);
    padding-inline-start: 30px;
    margin-inline-start: var(--spacing);
    font-size: 1.5rem;
    padding-block-start: 0;
}

.picto {
    height: 4rem;
    margin-block-end: var(--spacing);
    margin-inline-end : var(--spacing)
}

.loisirs-cards-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: var(--spacing) 1fr var(--spacing);
    margin-block-end: var(--spacing);
    height : 258px;
    width: 375px;
    z-index: 1;

}

.loisirs-cards {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    grid-row: 1/4;
    grid-column: 1/3;
    transition: ease-out 0.5s;
    background-image: url(../img/parch-01.png);
    background-size: cover;
    background-position: center;
}

.loisirs-cards:hover {
    scale: 1.05;
}

.loisirs-text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height :80%;
}

.plank1{
    width: 90%;
    margin:0;
    margin-block-end: -150px;
    position :relative;
    z-index: 0;
    transform: rotate(4deg);
}

.plank2{
    width: 90%;
    margin:0;
    margin-block-end: -150px;
    position :relative;
    z-index: 0;
    transform: rotate(-2deg);
}

.plank3{
    width: 90%;
    margin:0;
    margin-block-end: -150px;
    position :relative;
    z-index: 0;
    transform: rotate(1deg);
}

.plank4{
    width: 90%;
    margin:0;
    margin-block-end: -150px;
    position :relative;
    z-index: 0;
    transform: rotate(-3deg);
}

.plank5{
    width: 90%;
    margin:0;
    margin-block-end: -150px;
    position :relative;
    z-index: 0;
    transform: rotate(2deg);
}

@media screen and (max-width:410px){

    .loisirs-cards-container{
        width: 97%;
    }
}


@media screen and (max-width: 560px) {
    .plank{
        margin-block-end: -95px;
    }


}

@media screen and (max-width: 665px)and (min-width:560px) {
    .plank{
        margin-block-end: -130px;
    }
}

@media screen and (min-width: 768px) {
    .loisirs {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .loisirs-text-container {
        display: flex;
        flex-direction: column;
        padding : var(--spacing);
    }
}