@import url(./root.css);
@import url(/style.css);

.section3 {
    width: 100vw;
    background: url(../img/fond-vert.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: var(--spacing-more);
}

.section3 > h2{
    margin: auto;
    text-align: center;
    font-size: 32px;
    font-family: var(--font-family-h1);
}

.experience-pro-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 3fr;
    width: 100%;
    padding: var(--spacing);
    margin-block-end: var(--spacing);
}

.date {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--text-color2);
    padding: var(--spacing);
}

.experience{
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--text-color2);
    padding: var(--spacing);
}

.date p{
    font-family: var(--font-family-h2);
    font-size: 2rem;
    text-align: center;
}

.experience {
    padding-inline-start: var(--spacing-more);
    font-family: var(--font-family-body);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.experience p{
    font-size: 1rem;
}

.experience p span{
    font-family: var(--font-family-h1);
    font-size: 25px;
}

.experience hr,
.exp-quotes hr {
    background-color: var(--text-color2);
    border: none;
    width: 50px;
    height: 1px;
    
}
.experience hr{
    margin-block-end: var(--spacing-less);
}
.exp-quotes hr{
    margin-block-start: var(--spacing-less); 
}

.img-quotes-container:hover hr {
    width: 150px;
    transition: 0.4s ease-in-out;
}

.exp-quotes {
    margin-block-start: var(--spacing-more);
}

.exp-quotes h2{
    text-align: center;
}

.quotes-container{
    width: 100%;
    max-width: 900px;

    display: flex;
    flex-direction: column; 

    padding: var(--spacing-more);
    margin: auto;
}

.img-quotes-container{
    display: flex;
    padding: var(--spacing);
}

.img-quotes-container > p:last-child{
    align-self: flex-end;
}

.exp-quotes p {
    letter-spacing: 1.5px;
    font-size: 1rem;
    font-style: italic;
}

.quotes-pic{
    margin-inline-end: var(--spacing);
    height: 5rem;
    border-radius: 50%;
    aspect-ratio: 1;
}

.commas{
    width: 1.1rem;
    height: 1rem;
    
    margin-inline-end: var(--spacing);
}

/*==================MEDIA QUERIES==================*/
@media screen and (max-width: 680px) {
    .experience p{
        font-size: 1.8rem;

    }

    .date p {
        font-size: 1.9rem;
    }

    .experience p span{
        font-size: 1.4rem;
    }
    
}

@media screen and (min-width: 640px){

    .experience-pro-container{
        max-width: 900px;
        margin-inline: auto;
    }
}


    
@media screen and (max-width: 450px) {
    .img-quotes-container{
        flex-direction: column;
        padding: 0;
    }
    .quotes-pic{
        width: 7rem;
        height: 7rem;
        margin: auto;
    }
}