@import url(./root.css);
@import url(/style/style.css);

.section2  {
    background-image: url(../img/bg_brown_alone1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;

}
.skill {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80%;
    margin-block-end: var(--spacing-more);
}

.competences-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.section2 h2 {
    font-family: var(--font-family-h2);
    margin-inline-start: var(--spacing);
    margin-block-start: var(--spacing-more);
    padding-inline-start: var(--spacing);
}


.section2 p {
    font-family: var(--font-family-body);
    margin-inline-start: var(--spacing);
    font-size: 23px;
    padding: var(--spacing);
}

.picto {
    height: 4rem;
    margin-block-end: var(--spacing);
    margin-inline-end : var(--spacing)
}

.skill-cards-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: var(--spacing) 1fr var(--spacing);
    margin-block-end: var(--spacing);
    height : 258px;
    width: 375px;
    z-index: 1;

}

.skill-cards {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    grid-row: 1/4;
    grid-column: 1/3;
    transition: ease-out 0.5s;
    background-image: url(../img/parch-01.png);
    background-size: cover;
    background-position: center;
}

.skill-cards:hover {
    scale: 1.05;
}

.skill-text-container {
    display: flex;
    flex-direction: column;
    padding : var(--spacing-more);
}

.plank{
    width: 90%;
    margin:0;
    margin-block-end: -150px;
    position :relative;
    z-index: 0;
}


@media screen and (max-width: 560px) {
    .plank{
        margin-block-end: -95px;
    }

}

@media screen and (max-width: 665px)and (min-width:560px) {
    .plank{
        margin-block-end: -130px;
    }
}

@media screen and (min-width: 768px) {
    .skill {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .section2 h2 {
        font-size: 2rem;
    }

    .section2 p {
        font-size: 1.8rem;
    }

    .loisirs-text-container {
        display: flex;
        flex-direction: column;
        padding : var(--spacing);
    }
}




/* .section2 {
    background-color: var(--bg-color-section2);
    height: 100%;
    color: var(--text-color);
    width: 100vw;
}

.competences-section {
    margin-inline: var(--spacing);
}

.competences-section h1 {
    font-family: var(--font-family-h1);
    font-size: var(--spacing-more);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    padding-block: var(--spacing-more);
}

.competences-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: var(--spacing-more);
    height: 100%;

}

.competences h2 {
    margin-block-start: var(--spacing-more);

}

.competences p {
    margin-block-start: var(--spacing);
    font-weight: bold;
}



.competences:nth-of-type(1) {
    text-align: center;
    position: relative;
}

.competences .icon-fighter {
    position: absolute;
    background: url(/img/swords-icon.png) center center;
    opacity: .1;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

.competences:nth-of-type(2) {
    text-align: center;
    position: relative;
}

.competences .icon-rhum {
    position: absolute;
    background: url(/img/rhum-bottle.png) center center;
    opacity: .1;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}


.competences:nth-of-type(3) {
    text-align: center;
    position: relative;
}

.competences .icon-pillage {
    position: absolute;
    background: url(/img/treasure-icon.png) center center;
    opacity: .1;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}



.competences:nth-of-type(4) {
    text-align: center;
    position: relative;
}

.competences .icon-management {
    position: absolute;
    background: url(/img/leader-icon.png) center center;
    opacity: .1;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

.competences:nth-of-type(5) {
    text-align: center;
    position: relative;
}

.competences .icon-run {
    position: absolute;
    background: url(/img/run-icon.png) center center;
    opacity: .1;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}









@media screen and (min-width:600px) {
    .section2 {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .section2 .competences-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        height: 100%;
        width: auto;
        padding-block-end: 4rem;
        font-size: var(--spacing);

    }

    .competences-section h1 {
        font-size: var(--spacing-more);
        margin-block-start: var(--spacing-more);
    }

    .competences h2 {
        text-align: center;

    }

    .competences:nth-of-type(1) {
        justify-self: center;
        position: relative;

    }

    .competences .icon-fighter {
        position: absolute;
        background: url(/img/swords-icon.png) center center;
        opacity: .1;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .competences .icon-rhum {
        position: absolute;
        background: url(/img/rhum-bottle.png) center center;
        opacity: .15;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: contain;
    }



    .competences:nth-of-type(2) {
        justify-self: center;
        text-align: center;
        position: relative;
    }

    .competences .icon-rhum {
        position: absolute;
        background: url(/img/rhum-bottle.png) center center;
        opacity: .2;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: contain;
    }


    .competences:nth-of-type(3) {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        justify-self: center;
        position: relative;
    }

    .competences .icon-pillage {
        position: absolute;
        background: url(/img/treasure-icon.png) center center;
        opacity: .15;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: contain;
    }



    .competences:nth-of-type(4) {
        justify-self: flex-start;
        position: relative;
    }

    .competences .icon-management {
        position: absolute;
        background: url(/img/leader-icon.png) center center;
        opacity: .15;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .competences:nth-of-type(5) {
        text-align: center;
        position: relative;
    }

    .competences .icon-run {
        position: absolute;
        background: url(/img/run-icon.png) center center;
        opacity: .15;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: contain;
    }

} */
